<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wish_Box</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="own-navbar">
            <nav class="navbar navbar-default navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="logo">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Content/logo.png" asp-append-version="true" width="166"
                             height="50" alt="Home">
                    </a>
                </div>
                @{ if (User.Identity.IsAuthenticated)
                    {
                        <form method="get" asp-controller="Home" asp-action="Search">
                            <div class="searchbar">
                                <input class="search_input" type="search" name="keyword" placeholder="Найти пользователя...">
                                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                            </div>
                        </form>

                        <div class="actions-block">
                            <a class="navbar-brand" asp-area="" asp-controller="Wish" asp-action="Create">
                                <!-- Alex "to do" -->
                                <img src="~/Content/plus gift.png" asp-append-version="true" width="80"
                                     height="45" alt="Add wish">
                            </a>
                            <a class="navbar-brand" asp-area="" asp-controller="UserPage" asp-action="Show" asp-route-id="@User.Identity.Name">
                                <img src="~/Content/profile.png" asp-append-version="true" width="45"
                                     height="45" alt="My profile">
                            </a>
                            <a class="navbar-brand logout-btn" asp-controller="Home" asp-action="Logout">
                                ВЫЙТИ
                            </a>
                        </div>
                        }
                    }
                    </nav>
        </div>
    </header>
       
    <div class="container-fluid">
        <div class="row">
            @{ if (User.Identity.IsAuthenticated)
                {
                    <div class="col-sm-3 col-lg-3 col-md-3 left">
                        <ul class="button-group">
                            <li class="menu-li">
                                <div class="menu-btn-block">
                                    <a href="" class="menu-btn"><img style="margin-right: 10px;" src="~/Content/wish.png" asp-append-version="true" width="38" height="40">Мои желания</a>
                                </div>
                            </li>
                            <li class="menu-li">
                                <div class="menu-btn-block">
                                    <a href="" class="menu-btn"><img class="menu-image" src="~/Content/gift icon.png" asp-append-version="true" width="38" height="38">Подарить</a>
                                </div>
                            </li>
                            <li class="menu-li">
                                <div class="menu-btn-block">
                                    <a class="menu-btn" asp-area="" asp-controller="Followings" asp-action="Show" asp-route-id="@User.Identity.Name"><img class="menu-image" src="~/Content/friends.png" asp-append-version="true" width="38" height="40">Мои подписки</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            }


            <!-- <main role="main" class="pb-3">-->
            @RenderBody()
        </div>
        <!--  </main>-->
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Wish_Box - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
