@model List<Wish_Box.Models.Wish>

@{
    ViewData["Title"] = "Подарить";
}

    <div class="col-sm-8 col-lg-8 col-md-8">
        <h2 style="color:white; text-align: center; font-weight: bold; margin-bottom: 20px;">Подарить</h2>
        <div class="row">
            @foreach (var wish in Model)
            {
                <div class="col-6 wish-block-@wish.Id">
                    <div class="wish-block">
                        <div class="to-give-info">
                            <!--<div style="transform: translate(10%, 20%); text-align:center">-->
                            <p class="description">@wish.Description</p>

                        </div>
                        <div class="attachment">
                            @if (wish.Attachment != null)
                            {
                                <img class="cut" src="@Url.Content(wish.Attachment)" />
                            }
                            else
                            {
                                <img class="cut" src="~/Content/gift.png" />
                            }
                        </div>
                        <!--</div>-->
                        <div style="display: table-row">
                            <label class="author" style="float: left;">Автор: <a class="btn-default user-link" asp-controller="UserPage" asp-action="Show" asp-route-id="@wish.User.Login">@wish.User.Login</a></label>
                            <p><button class="btn btn-outline-dark btn-remove-togive-mark" onclick="remove(@wish.Id,'/togive/remove/');">Убрать из "Подарить"</button></p>
                            <p><button class="btn" onclick="given(@wish.Id, '/togive/MarkAsGiven/');">"Подарено"</button></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.Count == 0)
        {
            <p class="message">
                На данный момент вы не отметили ни одно желание у других пользователей как то, которое хотите им подарит. Чтобы добавить желание в список "Подарить", зайдите на страницу пользователя, найдите в ленте тот подарок, который хотите подарить своему другу, и нажмите на "Добавить в "Подарить"".
            </p>
        }
    </div>

<script type="text/javascript">
    function remove(id, my_link) {
        $.ajax({
            type: 'Delete',
            url: my_link + id,
            success: function () { $('.wish-block-' + id).empty(); console.log('success'); }
        });
    }

    function given(id, my_link) {
        $.ajax({
            type: 'POST',
            url: my_link + id,
            success: function () { $('.wish-block-' + id).empty(); console.log('success'); ym(62193592, 'reachGoal', 'is_given'); }
        });
    }
</script>
