@model CommentViewModel
@using Wish_Box.ViewModels;

@{
    ViewData["Title"] = "GetComments";
}

@if (Model != null)
{

    foreach (CommentViewModel commentVM in ViewBag.list)
    {
        <div class="row" style="width: 100.3%; border-bottom: 1px solid #d2cece; margin-right: -14px; margin-left: -1px;">
            <div class="row">
                <div style="width:50px; height:50px; float:left; margin-right:5px">
                    <div>@commentVM.AuthorName</div>
                    @if (commentVM.Avatar != null)
                    {
                        <img class="avatar" style="width:50px; height:50px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(commentVM.Avatar))" />
                    }
                    else
                    {
                        <img class="avatar" style="width:50px; height:50px;" src="~/Content/default_profile.jpg" />
                    }
                </div>
                <div class="commentDetails">
                    <p style="margin-left:5px; margin-top: 27px; font-size: 16px;"> @commentVM.Description </p>
                </div>
                @if (commentVM.InReplyId != null)
                {
                    <div>This comment is the reply for comment:</div>
                    @foreach (CommentViewModel com in ViewBag.list)
                    {
                        @if (com.Id == commentVM.InReplyId)
                        {
                            <div>"@com.Description"</div>
                            break;
                        }
                    }
                }

                @if (commentVM.AuthorName == User.Identity.Name)
                {
                    <div style="float:right">
                        <form asp-controller="Comments" asp-action="Delete" asp-route-id="@commentVM.Id" method="post">
                            <input class="btn btn-danger" type="submit" value="Удалить" />
                        </form>
                    </div>
                }
                <div><input type="button" class="btn btn-reply" style="width:auto" data-desc="@commentVM.Description" data-id="@commentVM.Id" value="Ответить" /></div>
            </div>
        </div>
        <br />
    }
    <form asp-controller="Comments" asp-action="AddComment" method="post">
        <div class="form-group">
            <div class="col-auto" style="margin-left: 10px;">
                <input type="hidden" asp-for="WishId" />
                <input type="hidden" asp-for="AuthorName" value="@User.Identity.Name" />
                <div class="reply"></div>
                <input style="margin-top: 10px; margin-left: 10px;" type="text" asp-for="Description"
                       class="form-control" placeholder="Добавить комментарий..." />
                <input style="margin-top: 10px;" class="btn btn-outline-success" type="submit" value="Отправить" />
            </div>
        </div>
    </form>
}

<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".btn-reply").click(function (e) {
            console.log("reply button was pressed");
            e.preventDefault();
            var id = $(this).attr("data-id");
            var desc = $(this).attr("data-desc");
            $(function () {
                $('.reply').empty();
                $('.reply').prepend('<input type="hidden" id="InReplyId" name="InReplyId" value="' + id + '"' + '/' + '>' + 'В ответ на комментарий "' + desc + '"');
            });
        });
    })
</script>
