
@model Wish_Box.ViewModels.UserPageViewModel
@{
    ViewData["Title"] = Model.User.Login;
}

<div class="col-8 col-lg-8">
    <div class="user-info">
        <div style="width: 200px;height: 200px; float:left;">
            @if (Model.User.Avatar != null)
            {
                <img class="avatar" style="width: 200px;height: 200px;" src="@Url.Content(Model.User.Avatar)" />
            }
            else
            {
                <img class="avatar" style="width: 200px;height: 200px;" src="~/Content/default_profile.jpg" />
            }
        </div>
        <div class="user-info-block">
            <label class="user-name">@Model.User.Login</label>
            <br />
            <label class="user-place">@Model.User.City, @Model.User.Country</label>
            <div class="user-date">
                <img src="~/Content/calendar-512.png" style="width: 30px; height: 30px; margin-right: 5px;" />
                <label class="user-date-lb">@Model.User.dayOfBirth.ToShortDateString()</label>
            </div>
        </div>
        @if (Model.User.Login == User.Identity.Name)
        {
            <a class="btn btn-light btn-lg edit-profile" asp-area="" asp-controller="Account" asp-action="Edit">Редактировать профиль</a>
        }
        else
        {
            <div class="follow-btn-section">
                @if (!Model.Followers.Contains(Model.CurrentUser.Id))
                {
                    <button class="follow-btn" onclick="follow(@Model.User.Id, '/Followings/PostFollowing/');">Подписаться</button>
                }
                else
                {
                    <button class="btn btn-light unfollow-btn" onclick="unfollow(@Model.User.Id, '/followings/remove/');">Отписаться</button>
                }
            </div>

        }
        </div>
        <div class="wishes">
            @foreach (var wish in Model.UserWishes)
            {

                @if (wish.UserId == Model.User.Id)
                {
                    <div class="col-auto">
                        <div class="wish-show row">
                            @if (Model.User.Login == Model.CurrentUser.Login)
                            {
                                <div class="row">
                                    <div class="dropdown" style="margin-left:auto; margin-right: 20px;">

                                        <button onclick="myFunction(@wish.Id)" class="dropbtn">&#8226;&#8226;&#8226;</button>
                                        @{
                                            string drop_id = "myDropdown" + wish.Id.ToString();
                                        }
                                        <div id="@drop_id" class="dropdown-content">
                                            <a asp-controller="Wish" asp-action="Edit" asp-route-id="@wish.Id">Редактировать желание</a>
                                            <a class="btn-delete" asp-controller="Wish" asp-action="Delete" asp-route-id="@wish.Id">Удалить желание</a>
                                        </div>

                                    </div>
                                </div>
                            }
                            <div class="col-12">
                                <div class="desc-block col-8">
                                    <label class="wish-desc">@wish.Description</label>

                                </div>
                                <div class="attachment col-4">
                                    @if (wish.Attachment != null)
                                    {
                                        <img src="@Url.Content(wish.Attachment)" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/gift.png" />
                                    }
                                </div>

                            </div>
                            <div class="wish-func col-12">
                                <div class="toggle-comment-section-@(wish.Id)">
                                    <button class="btn btn-get-comments" style="margin-right: 20px; float:left;" onclick="get_comments(@wish.Id,'/comments/getcomments/');">
                                        <img class="icon" style="width: 40px;height: 40px;" src="~/Content/comment.png" />
                                    </button>
                                </div>
                                @if (Model.User.Login != Model.CurrentUser.Login)
                                {
                                    <button class="btn" onclick="rating(@wish.Id, '/wish/ratingplus/');" style="float:left">
                                        <img class="icon" style="width: 14px;height: 35px;" src="~/Content/ratingPlus available.png" />
                                    </button>
                                    <label class="rating-desc wish-rating-@wish.Id" style="float:left;">Рейтинг: @wish.Rating.ToString()</label>
                                    <button class="btn" onclick="rating(@wish.Id, '/wish/ratingminus/');" style="float: left">
                                        <img class="icon" style="width: 14px;height: 35px;" src="~/Content/ratingMinus available.png" />
                                    </button>
                                    <div class="to-give-button-section-@wish.Id">
                                        @if (Model.TakenWishes.Contains(wish.Id))
                                        {
                                            <button class="btn btn-add-to-give-mark" style="float:left;" onclick="remove_from_list(@wish.Id, '/togive/remove/');">
                                                <img class="icon" style="width: 39px;height: 30px;" src="~/Content/tick_to_give.png" />Добавлено в "Подарить"
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-add-to-give-mark" style="float:left;" onclick="add_to_list(@wish.Id, '/togive/add/');">
                                                <img class="icon" style="width: 30px;height: 30px;" src="~/Content/plus.png" />Добавить в "Подарить"
                                            </button>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <label class="rating-desc wish-rating-@wish.Id" style="float:left;">Рейтинг: @wish.Rating.ToString()</label>
                                }
                            </div>
                        </div>
                        <div class="comment-section-@(wish.Id)"></div>
                    </div>
                }
            }
        </div>
    </div>



@section scripts
{
    <script>
    function myFunction(id) {
        console.log(id);
        //console.log("myDropdown"+id);
        document.getElementById("myDropdown" + id).classList.toggle("show");
    }
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".btn-delete").click(function (e) {
                console.log("delete button was pressed");
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>

    <script language="javascript">

        function get_comments(id, my_link) {
            console.log("comments button was pressed");
            ym(62193592, 'reachGoal', 'get_comments');
            $('.toggle-comment-section-' + id).empty();
            $('.toggle-comment-section-' + id).prepend('<button class="btn btn-get-comments" style="margin-right: 20px; float:left;" data-id="' + id + '" onclick="remove_comments(' + id + ');"><img class="icon" style="width: 40px;height: 40px;" src="/Content/comment.png" /></button>');
            $.get(my_link + id, function (data) {
                $('.comment-section-' + id).empty();
                $('.comment-section-' + id).prepend(data);
            });
        }

        function remove_comments(id) {
            console.log("remove comment section button was pressed");
            $('.toggle-comment-section-' + id).empty();
            $('.comment-section-' + id).empty();
            $('.toggle-comment-section-' + id).prepend('<button class="btn btn-get-comments" style="margin-right: 20px; float:left;" onclick="get_comments(' + id + ',\'/comments/getcomments/\');"><img class="icon" style="width: 40px;height: 40px;" src="/Content/comment.png" /></button>');
        }

        function refresh_comments(id) {
            $.get('/comments/getcomments/' + id, function (data) {
                $('.comment-section-' + id).empty();
                $('.comment-section-' + id).prepend(data);
            });
        }

        function rating(id, my_link) {
            $.ajax({
                type: 'GET',
                url: my_link + id,
                success: function () {
                    console.log('rate success');
                    ym(62193592, 'reachGoal', 'rate_wish');

                    $.ajax({
                        type: 'GET',
                        url: '/wish/getrating/' + id,
                        success: function (data) {
                            $('.wish-rating-' + id).empty();
                            $('.wish-rating-' + id).prepend('Рейтинг: ' + data);
                        }
                    });
                }
            });
        }

        function remove_from_list(id, my_link) {
            $.ajax({
                type: 'POST',
                url: my_link + id,
                success: function () {
                    $('.to-give-button-section-' + id).empty();
                    $('.to-give-button-section-' + id).prepend('<button class="btn btn-add-to-give-mark" style="float:left;"  onclick="add_to_list(' + id + ', \'/togive/add/\');"><img class="icon" style="width: 30px;height: 30px;" src="/Content/plus.png" />Добавить в "Подарить"</button>');
                    console.log('remove to give mark success. id=' + id);
                }
            });
        }

        function add_to_list(id, my_link) {
            $.ajax({
                type: 'POST',
                url: my_link + id,
                success: function () {
                    $('.to-give-button-section-' + id).empty();
                    $('.to-give-button-section-' + id).prepend('<button class="btn btn-add-to-give-mark" style="float:left;" onclick="remove_from_list(' + id + ', \'/togive/remove/\');"><img class="icon" style="width: 39px;height: 30px;" src="/Content/tick_to_give.png" />Добавлено в "Подарить"</button>');
                    console.log('adding to give mark success. id=' + id);
                    ym(62193592, 'reachGoal', 'to_give');

                }
            });
        }

        function follow(id, my_link) {
            $.ajax({
                type: 'POST',
                url: my_link + id,
                success: function () {
                    $('.follow-btn-section').empty();
                    $('.follow-btn-section').prepend('<button class="btn btn-light unfollow-btn" onclick="unfollow(' + id + ', \'/followings/remove/\');">Отписаться</button>');
                    console.log('follow success');
                    ym(62193592, 'reachGoal', 'follow');
                }
            });
        }

        function unfollow(id, my_link) {
            $.ajax({
                 type: "DELETE",
                url: my_link + id,
                success: function () {
                    $('.follow-btn-section').empty();
                    $('.follow-btn-section').prepend('<button class="btn follow-btn" onclick="follow(' + id + ',\'/Followings/PostFollowing/\');">Подписаться</button>');
                    console.log('unfollow success');
                }
            });
        }

    </script>
    <script type="text/javascript">
        function deletefun(id) {
            $.ajax({
                type: "DELETE",
                url: "/Followings/Remove/" + id,
                success: function () {
                    location.reload(true);
                }
            })
        }
    </script>


    
}
