@model PagedList.Core.IPagedList<Wish_Box.Models.User>
@{
    ViewData["Title"] = "Search";
}
    <div class="col-sm-8 col-lg-8 col-md-8">

        @if (Model != null)
        {
        <table border="1">
            <tr>
                <th>Login</th>
                <th>Country</th>
                <th>City</th>
                <th>DayOfBirth</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Login</td>
                    <td>@user.Country</td>
                    <td>@user.City</td>
                    <td>@user.dayOfBirth</td>
                </tr>
            }
            <!--  <tr>
          <td colspan="3" align="left">
              <pager list="@Model" asp-controller="Home" asp-action="Search" asp-route-keyword="@ViewBag.keyword" />

          </td>
      </tr>-->
        </table>
        }
    </div>