@model Wish_Box.Models.UserListViewModel
@{
    ViewData["Title"] = "Поиск";
}

<div class="col-sm-8 col-lg-8 col-md-8">
    <div class="row">
        <div class="col-9 col-sm-8">
            <div class="search-result">
                <h4 style="text-align: center; font-weight: bold;">Результат поиска</h4>
                @if (Model != null)
                {
                    @foreach (var user in Model.Users)
                    {
                        <div class="user-block-search">
                            <a class="btn-default user-link" asp-controller="UserPage" asp-action="Show" asp-route-id="@user.Login">
                                @if (user.Avatar != null)
                                {
                                    <img class="avatar" style='width:70px; height:70px;' src="@Url.Content(user.Avatar)" />
                                }
                                else
                                {
                                    <img class="avatar" src="~/Content/default_profile.jpg" asp-append-version="true" width="70"
                                         height="70" alt="My profile">
                                }
                                @user.Login
                            </a>
                            @if (user.Login != User.Identity.Name)
                            {
                                //<div class="follow-btn-section-@user.Id">
                                  
                                @if (!Model.Following_ids.Contains(user.Id))
                                {
                                    //<form asp-controller="Followings" asp-action="PostFollowing" asp-route-id="@user.Id" method="post" role="form">
                                        <button class="btn follow-btn"id="follow" onclick="follow(@user.Id, '/followings/add/')">Подписаться</button>
                                    //</form>
                                   // if (flag)
                                     //   Model.Following_ids.Add(user.Id);
                                }
                                else
                                {
                                   // <form method="delete" role="form">
                                        <button class="btn btn-ligh unfollow-btn" type="submit" id="unfollow" onclick="deletefun(@user.Id)">Отписаться</button>
                                   // </form>
                                 //   if (flag)
                                   //     Model.Following_ids.Remove(user.Id);
                                }
                               // </div>

                            }

                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-3 col-sm-4">
            <div class="search-filter">
                <form method="get" asp-controller="Home" asp-action="Filter">
                    <div class="form-inline form-group">
                        <div>
                            <label class="control-label">Имя: </label>
                            <input style="margin-right:7px;" name="name" class="form-control" value="@ViewBag.keyword" />
                        </div>
                        <div>
                            <label class="control-label">Страна: </label>
                            <select style="margin-right:7px;" onchange="myFunction(this)" name="country" asp-items="Model.Countries" class="form-control"></select>
                        </div>
                        <div>
                            <label class="control-label">Город: </label>
                            <select style="margin-right:7px;" id="citylist" name="city" asp-items="Model.Cities" class="form-control"></select>
                        </div>
                        <div>
                            <input type="submit" value="Искать" class="btn btn-info" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function deletefun(id) {
            $.ajax({
                type: "DELETE",
                url: "/Followings/Remove/" + id,
                success: function () {
                    $('.follow-btn-section-' + id).empty();
                    $('.follow-btn-section-' + id).prepend('<button class="btn follow-btn" onclick="follow(' + id + ',\'/followings/add/\');">Подписаться</button>');
                    console.log('unfollow success');
                    location.reload(true);
                }
            })
        }
        //// $(function () {
        //     $.ajaxSetup({ cache: false });
        //     $(".btn-detele").on('click', function (e) {
        //         var id = $(this).attr("data-id");
        //         $.ajax({
        //             type: 'Delete',
        //             url: '/Followings?id=' + id
        //         });
        //         console.log("delete following with id" + id);
        //     })
        // })
    </script>

<script>
    function follow(id, my_link) {
        $.ajax({
            type: "POST",
            url: "/Followings/PostFollowing/" + id,
            success: function () {
                $('.follow-btn-section-' + id).empty();
                $('.follow-btn-section-' + id).prepend('<button class="btn btn-light unfollow-btn" onclick="unfollow(' + id + ', \'/followings/remove/\');">Отписаться</button>');
                console.log('follow success');
                ym(62193592, 'reachGoal', 'follow');
                location.reload(true);
            }
        });
    }

    function unfollow(id, my_link) {
        $.ajax({
            type: "DELETE",
            url: "/Followings/Remove/" + id,
            success: function () {
                $('.follow-btn-section-' + id).empty();
                $('.follow-btn-section-' + id).prepend('<button class="btn follow-btn" onclick="follow(' + id + ',\'/followings/add/\');">Подписаться</button>');
                console.log('unfollow success');
            }
        });
    }
</script>
<script type="text/javascript">
    function myFunction(obj) {
        console.log("countryList was changed");
        var countryId = obj.value;

        $.ajax({
            type: "post",
            url: "/Account/GetCityList/" + countryId,
            contentType: "html",
            success: function (response) {
                $("#citylist").empty();
                $("#citylist").append(response);
            }

        })
    }

</script>
}